dist: trusty
sudo: false
language: java
env:
  global:
    - export PATH="$PATH:$HOME/bin"
    - export LD_LIBRARY_PATH="$LD_LIBRARY_PATH:$HOME/lib"
    - export PKG_CONFIG_PATH="$HOME/lib/pkgconfig"
addons:
  apt:
    packages:
      - gcc
      - g++
install:
  - curl -O https://capnproto.org/capnproto-c++-0.5.3.tar.gz
  - tar zxf capnproto-c++-0.5.3.tar.gz
  - cd capnproto-c++-0.5.3
  - ./configure --prefix=$HOME
  - make -j3
  - make install
  - cd ../

jdk:
  - oraclejdk8
  - openjdk7
  - openjdk8
script:
  - make
  - make addressbook
  - sbt test
  - sbt doc

