<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Slate is a responsive theme for GitHub Pages" />

    <link rel="stylesheet" type="text/css" media="screen" href="{{ site.baseurl }}/stylesheets/stylesheet.css">

    <title>{{page.title}}</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/dwrensha/capnproto-java">View on GitHub</a>

          <h1 id="project_title">Cap'n Proto for Java</h1>
          <h2 id="project_tagline">extremely efficient serialization in pure Java</h2>

          <div class="menu_bar">
            <a href="{{site.baseurl}}/index.html">Introduction</a>
            &nbsp;
            <a href="{{site.baseurl}}/news.html">News</a>
          </div>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
